<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rechargeweb.rechargeweb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".ApplicationTest"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/formax_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/formax_round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme,android:allowBackup,android:icon,android:name">
        <activity android:name=".Activity.AddMoneyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Activity.HomeActivity"/>
        <activity
            android:name=".Activity.ReportActivity"
            android:label="Transaction Reports"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinoAepsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UploadKycActivity"
            android:label="KYC Details"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ValidateActivity"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RemitterActivity"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DmtActivity"
            android:label="Quick DMT"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PlansActivity"
            android:label="Search Plans"
            android:parentActivityName=".Activity.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SupportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChangePassActivity"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FundRequestActivity"
            android:label="Fund Request"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PassbookActivity"
            android:label="Passbook"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PanActivity"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BillPaymentActivity"
            android:label="E-Bill Payment"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.RechargeActivity"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignUpActivity" />
        <activity
            android:name=".Activity.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".MyFirebaseMessegingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.atom.mpsdklibrary.PayActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>